<section>
  <div class="container">
    <div class="inner-container">
      <h1>Place your order</h1>
      <h3>Customer Information</h3>
      <form ng-submit="register()">
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
            <input type="text" ng-required="true" ng-model="user.email">
          </div>
          <div class="col-md-3">
            <label>Password</label>
            <input type="password" ng-required="true" ng-model="user.password">
          </div>
          <div class="col-md-3">
            <label>Confirm Password</label>
            <input type="password" ng-required="true" ng-model="user.confirmPassword">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>First Name</label>
            <input type="text" ng-model="user.firstName">
          </div>
          <div class="col-md-6">
            <label>Last Name</label>
            <input type="text" ng-model="user.lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>Address</label>
            <input type="text" ng-model="user.address" >
          </div>
          <div class="col-md-4">
            <label>Unit #</label>
            <input type="text" ng-model="user.unitNum" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>City</label>
            <input type="text" ng-model="user.city" >
          </div>
          <div class="col-md-2">
            <label>State</label>
            <input type="text" ng-model="user.state" >
          </div>
          <div class="col-md-4">
            <label>Zip Code</label>
            <input type="text" ng-model="user.zipcode">
          </div>
        </div>
        <div class="date-section">
          <div class="form-group has-feedback datepicker-container" >
                <label>Date</label>
                <input type="text" class="form-control cal-input" uib-datepicker-popup="{{format}}" ng-model="dt" ng-readonly="true" is-open="popupCal.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="openCal()"/>
                <i class="form-control-feedback glyphicon glyphicon-chevron-down"></i>      
          </div>
        </div>
        <div class="actions">
          <label></label>
          <button class="submit-button">Place order</button>
        </div>
      </form>
    </div>
  </div>
</section>
